---
CompileFlags:
  CompilationDatabase: build

  Add:
    - -std=c++23
    - -I.

    # Unlimited diagnostic expansion.
    - -ftemplate-backtrace-limit=0
    - -fconstexpr-backtrace-limit=0
    - -fmacro-backtrace-limit=0
    - -ferror-limit=0

  Remove:
    - -fno-lifetime-dse
    - -fno-ipa-sra
    - -fvar-tracking*
    - -fsanitize*


Index:
  Background: Build
  StandardLibrary: Yes

Completion:
  AllScopes: Yes
  HeaderInsertion: IWYU
  ArgumentLists: FullPlaceholders

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

  Suppress:
    - unknown_argument

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes
  BlockEnd: Yes
  DefaultArguments: Yes
  TypeNameLimit: 0

...
