Checks: >
  -abseil-*,
  -altera-*,
  -android-*,
  boost-*,
  bugprone-*,
  concurrency-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  hicpp-*,
  llvm-include-order,
  llvm-namespace-comment,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-avoid-*,
  readability-braces-*,
  readability-const-*,
  readability-container-contains,
  readability-magic-numbers,
  readability-misleading-indentation,
  readability-non-const-parameter,
  readability-qualified-auto,
  readability-redundant-casting,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-inline-specifier,
  readability-redundant-parentheses,
  readability-redundant-smart-pointer-get,
  readability-redundant-string-init,
  readability-redundant-typename,
  readability-simplify-boolean-expr,
  readability-simplify-subscript-expr,
  readability-static-*,
  readability-uppercase-literal-suffix

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
